{% load static %}
<!-- background-image: url('{% static "images/hero.jpg" %}'); -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>Event-Yetu</title>
    <style>
        .landing {
            background-color: #111217;
        }
    </style>
  </head>
  <body>
    <main>
      <section class="landing" >
          
        <nav>
          <h1 id="logo">Event-Yetu</h1>
          <ul class="nav-links">
            <li>Product</li>
            <li>Solutions</li>
            <li>Pricing</li>
            <li>Explore Events</li>
            <li>Resources</li>
            <li>Company</li>
            &nbsp;&nbsp;
            
            <li>Your Account</li>
          </ul>
        </nav>     
        
          <h2 class="big-text">
              Flawless Event Management
          </h2>
        
       
        <p class="section_one">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Ad, quaerat. Nulla, minima libero odio assumenda fugit beatae nisi mollitia numquam. 
            
        </p>
        <button type="submit" class="btn-signin">Sign Up</button>
        <img class="section_two" src="{% static 'images/visualize.png'%}"/>

      </section>
    </main>
    <div class="intro">
      <div class="intro-text">
        <h1 class="hide">
           
          <span class="text">Create immersive </span>
        </h1>
        <h1 class="hide">
          <span class="text">event experience</span>
        </h1>
        <h1 class="hide">
          <span class="text">for your audience </span>
        </h1>
      </div>
    </div>
    <div class="slider"></div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
      integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/app.js'%}"></script>
  </body>
</html>
