{% load static %}
<!-- background-image: url('{% static "images/hero.jpg" %}'); -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap" rel="stylesheet">

    <title>Event-Yetu</title>
    <style>
        .landing {
            background-color: #111217;
        }
    </style>
  </head>
  <body>
 
    <main>
      <section class="landing" >
          
        <nav>
          <h1 id="logo">Event-Yetu</h1>
          <ul class="nav-links">
            <li>Product</li>
            <li>Solutions</li>
            <li>Pricing</li>
            <li>Explore Events</li>
            <li>Resources</li>
            <li>Company</li>
            &nbsp;&nbsp;
        
            <li>Your Account</li>
          </ul>
        </nav>     
        
          <h2 class="big-text">
              Flawless Event Management
          </h2>
        
       
        <p class="section_one">
          With Event-Yetu, you can create virtual, 
          hybrid, and in-person event experiences 
          for your audience, regardless of where they are.
            
        </p>
       
        <button type="submit" class="btn-signin">Sign Up</button>
        <img class="section_two" src="{% static 'images/visualize.png'%}"/>

      </section>
    </main>
    <div class="intro">
      <div class="intro-text">
        <h1 class="hide">
           
          <span class="text">Create immersive </span>
        </h1>
        <h1 class="hide">
          <span class="text">event experience</span>
        </h1>
        <h1 class="hide">
          <span class="text">for your audience </span>
        </h1>
      </div>
    </div>
    <div class="slider"></div>
    
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/CSSRulePlugin3.min.js"></script>
    <script  src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
   
    <script src="{% static 'js/app.js'%}"></script>
  

  </body>
</html>
