{% load static %}
<!-- background-image: url('{% static "images/hero.jpg" %}'); -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'css/bootstrap/bootstrap.min.css' %}"
    />
  </head>
  <body>
    <div class="login-form">
    <br/> <br/> <br/> <br/>
      <h2 class="Login-title">Login</h2>

      <form>
        <div class="mb-3">
          <label class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="emailField"
          
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="passwordField"
          />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="chec" />
          <label class="form-check-label" for="rememberme"
            >Remember me</label
          >
        </div>
        <button type="submit" class="btn btn-block btn-primary">Login</button>
      </form>
    </div>
  </body>
</html>
